{% extends 'base/base.html' %}

{% block body %}

<div class="container my-3">
  <h2>Register Here :</h2>
  </div>
<form method="POST" action="/accounts/register">
    {% csrf_token %}
    <div class="container my-3">
      <div class="mb-3">
      <label for="email" class="form-label">Email address</label>
      <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp" required>
      <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input type="password" class="form-control" id="password" name="password" required>
    </div>
    

    <button type="submit" class="btn btn-primary">Signup</button>
  </div>
  </form>

{% endblock %}
