{% extends 'base/base.html' %}

{% block body %}
<br>
<br>

<div class="container my-3">
    <h2>All Blogs : </h2>

    
    </div>

    <div class="container">
      <div class="row row-cols-1 row-cols-md-3 g-4 my-2">
        {% for i in blogpost %}
    
    
        <div class="col">
          <div class="card h-100">
            <img src="/media/{{i.img}}" class="card-img-top" alt="...">
    
            <div class="card-body">
    
              <strong class="d-inline-block mb-2 text-secondary">{{i.category_name}}</strong>
    
              <br>
              <!-- <strong class="d-inline-block mb-2 text-secondary">Created : {{i.created_at}}</strong> -->
    
    
              <h5 class="card-title">{{i.title}}</h5>
              <div class="my-3">
                <span>
                  <img src="media/{{i.author.author_img}}" alt="" style="height: 30px; width: 30px; border-radius: 50%;">
                  <strong>by</strong>
                  <strong>{{i.author.author_name}} <i class="icon ion-clock"></i> {{i.created_at}}</strong>
                </span>
    
              </div>
    
              <p class="card-text">{{i.short_decription|safe|slice:"0:100"}}.</p>
              <a href="{{i.get_absolute_url}}" class="btn btn-primary">Continue reading</a>
    
            </div>
          </div>
        </div>
    
        {% endfor %}
      </div>
    </div>
<br>

 {% endblock %}




